{#
/**
 * @file
 * Theme for the simple form wrapper template.
 *
 * Variables:
 * - form: The form render object.
 * - attributes: The form wrapper attributes.
 *
 * @see template_preprocess_simple_form()
 */
#}

<div {{ attributes }}>
  {{ form }}
  {% if content %}
    <div {{ content_attributes }}>
      {{ content }}
    </div>
  {% endif %}
</div>
